/*box-shadow */
.unah-bs-2 {
     box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.unah-bs-4 {
     box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.unah-bs-6 {
     box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.unah-bs-8 {
     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.unah-bs-10 {
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.unah-bs-12 {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.unah-bs-14 {
     box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.unah-bs-16 {
     box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px;
}
.unah-bs-18 {
     box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 30px;
}
.unah-bs-20 {
     box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 40px;
}