/* class for height */
/* unah-h-value */

.unah-h-1vh {
     height: 7vh;
}
.unah-h-2vh {
     height: 10vh;
}
.unah-h-4vh {
     height: 20vh;
}
.una-h-6vh {
     height: 30vh;
}
.unah-h-8vh {
     height: 40vh;
}
.unah-h-10vh {
     height: 50vh;
}
.unah-h-12vh {
     height: 60vh;
}
.unah-h-14vh {
     height: 70vh;
}
.unah-h-16vh {
     height: 80vh;
}
.unah-h-18vh {
     height: 90vh;
}
.unah-h-20vh {
     height: 100vh;
}

.unah-h-21vh {
     height: 93vh;
}

.unah-h-2 {
     height: 10%;
}
.unah-h-4 {
     height: 20%;
}
.unah-h-6 {
     height: 30%;
}
.unah-h-8 {
     height: 40%;
}
.unah-h-10 {
     height: 50%;
}
.unah-h-12 {
     height: 60%;
}
.unah-h-14 {
     height: 70%;
}
.unah-h-16 {
     height: 80%;
}
.unah-h-18 {
     height: 90%;
}
.unah-h-20 {
     height: 100%;
}

.unah-mh-2 {
     min-height: 10vh;
}
.unah-mh-4 {
     min-height: 20vh;
}
.unah-mh-6 {
     min-height: 30vh;
}
.unah-mh-8 {
     min-height: 40vh;
}
.unah-mh-10 {
     min-height: 50vh;
}
.unah-mh-12 {
     min-height: 60vh;
}
.unah-mh-14 {
     min-height: 70vh;
}
.unah-mh-16 {
     min-height: 80vh;
}
.unah-mh-18 {
     min-height: 90vh;
}
.unah-mh-20 {
     min-height: 100vh;
}

.unah-hh-2 {
     max-height: 10vh;
}

.unah-hh-4 {
     max-height: 20vh;
}

.unah-hh-6 {
     max-height: 30vh;
}

.unah-hh-8 {
     max-height: 40vh;
}

.unah-hh-10 {
     max-height: 50vh;
}

.unah-hh-12 {
     max-height: 60vh;
}

.unah-hh-14 {
     max-height: 70vh;
}

.unah-hh-16 {
     max-height: 80vh;
}

.unah-hh-18 {
     max-height: 90vh;
}

.unah-hh-20 {
     max-height: 100vh;
}

/* class for width */
/* unah-w-value */

.unah-w-1{
     width: 2vw;
}

.unah-w-2 {
     width: 10%;
}
.unah-w-4 {
     width: 20%;
}

.unah-w-6 {
     width: 30%;
}

.unah-w-8 {
     width: 40%;
}

.unah-w-10 {
     width: 50%;
}

.unah-w-12 {
     width: 60%;
}

.unah-w-14 {
     width: 70%;
}

.unah-w-16 {
     width: 80%;
}

.unah-w-18 {
     width: 90%;
}

.unah-w-20 {
     width: 100%;
}


/* class for min-width */
/* unah-mw-value */
.unah-mw-1 {
     min-width: 2vw;
}


.unah-mw-2 {
     min-width: 10vw;
}
.unah-mw-4 {
     min-width: 20vw;
}
.unah-mw-6 {
     min-width: 30vw;
}
.unah-mw-8 {
     min-width: 40vw;
}
.unah-mw-10 {
     min-width: 50vw;
}
.unah-mw-12 {
     min-width: 60vw;
}
.unah-mw-14 {
     min-width: 70vw;
}
.unah-mw-16 {
     min-width: 80vw;
}
.unah-mw-18 {
     min-width: 90vw;
}
.unah-mw-20 {
     min-width: 100vw;
}

/* class for max-width */
/* unah-mw-value */

@media screen and (max-width: 868px) {
     .unah-h-1vh-m {
          height: 7vh !important;
     }
     .unah-h-2vh-m {
          height: 10vh !important;
     }
     .unah-h-4vh-m {
          height: 20vh !important;
     }
     .unah-h-6vh-m {
          height: 30vh !important;
     }

     .unah-h-8vh-m {
          height: 40vh !important;
     }

     .unah-h-10vh-m {
          height: 50vh !important;
     }

     .unah-h-12vh-m {
          height: 60vh !important;
     }

     .unah-h-14vh-m {
          height: 70vh !important;
     }

     .unah-h-16vh-m {
          height: 80vh !important;
     }

     .unah-h-18vh-m {
          height: 90vh !important;
     }

     .unah-h-20vh-m {
          height: 100vh !important;
     }

     .unah-h-21vh-m {
          height: 93vh !important;
     }

     .unah-h-2-m {
          height: 10% !important;
     }

     .unah-h-4-m {
          height: 20% !important;
     }

     .unah-h-6-m {
          height: 30% !important;
     }

     .unah-h-8-m {
          height: 40% !important;
     }

     .unah-h-10-m {
          height: 50% !important;
     }

     .unah-h-12-m {
          height: 60% !important;
     }

     .unah-h-14-m {
          height: 70% !important;
     }

     .unah-h-16-m {
          height: 80% !important;
     }

     .unah-h-18-m {
          height: 90% !important;
     }

     .unah-h-20-m {
          height: 100% !important;
     }

     .unah-h-21-m {
          height: 93% !important;
     }

     .unah-hh-2-m {
          max-height: 10vh !important;
     }

     .unah-hh-4-m {
          max-height: 20vh !important;
     }

     .unah-hh-6-m {
          max-height: 30vh !important;
     }

     .unah-hh-8-m {
          max-height: 40vh !important;
     }

     .unah-hh-10-m {
          max-height: 50vh !important;
     }

     .unah-hh-12-m {
          max-height: 60vh !important;
     }

     .unah-hh-14-m {
          max-height: 70vh !important;
     }

     .unah-hh-16-m {
          max-height: 80vh !important;
     }

     .unah-hh-18-m {
          max-height: 90vh !important;
     }

     .unah-hh-20-m {
          max-height: 100vh !important;
     }

     .unah-w-1-m {
          width: 2vw !important;
     }

     .unah-w-2-m {
          width: 10% !important;
     }

     .unah-w-4-m {
          width: 20% !important;
     }

     .unah-w-6-m {
          width: 30% !important;
     }

     .unah-w-8-m {
          width: 40% !important;
     }

     .unah-w-10-m {
          width: 50% !important;
     }

     .unah-w-12-m {
          width: 60% !important;
     }

     .unah-w-14-m {
          width: 70% !important;
     }

     .unah-w-16-m {
          width: 80% !important;
     }

     .unah-w-18-m {
          width: 90% !important;
     }

     .unah-w-20-m {
          width: 100% !important;
     }

}