/* divs properties */
.unah-row {
     width: 100%;
     display: flex;
     flex-wrap: wrap;

}

.unah-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        box-sizing: border-box;
}

/* para centrar elementos */
.unah-div-centrar{
     display: flex;
     justify-content: center;
     align-items: center;

}

.unah-row{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
}



/* sistema de columnas */
.unah-col-1{
        width: 8.33%;
}

.unah-col-2{
        width: 16.66%;
}

.unah-col-3{
        width: 25%;
}

.unah-col-4{
        width: 33.33%;
}

.unah-col-5{
        width: 41.66%;
}

.unah-col-6{
        width: 50%;
}

.unah-col-7{
        width: 58.33%;
}

.unah-col-8{
        width: 66.66%;
}

.unah-col-9{
        width: 75%;
}

.unah-col-10{
        width: 83.33%;
}

.unah-col-11{
        width: 91.66%;
}

.unah-col-12{
        width: 100%;
}




/*xs*/

/*Pequeño (sm):*/
@media screen and (max-width: 768px)  
{
      .unah-col-sm-1{
              width: 8.33%;
      }
      .unah-col-sm-2{
              width: 16.66%;
      }

      .unah-col-sm-3{
              width: 25%;
      }
      .unah-col-sm-4{
              width: 33.33%;
      }
      .unah-col-sm-5{
                width: 41.66%;
      }  
      .unah-col-sm-6{
                width: 50%;
      }
      .unah-col-sm-7{
                width: 58.33%;
      }
      .unah-col-sm-8{
                width: 66.66%;
      }
      .unah-col-sm-9{
                width: 75%;
      }
      .unah-col-sm-10{
                width: 83.33%;
      }
      .unah-col-sm-11{
                width: 91.66%;
      }
      .unah-col-sm-12{
                width: 100%;
      }
      
}
/*Mediano (md):*/  
@media screen and (max-width: 868px) and (min-width: 768px)
{
      .unah-col-md-1{
              width: 8.33%;
      }
      .unah-col-md-2{
              width: 16.66%;
      }

      .unah-col-md-3{
              width: 25%;
      }
      .unah-col-md-4{
              width: 33.33%;
      }
      .unah-col-md-5{
                width: 41.66%;
      }  
      .unah-col-md-6{
                width: 50%;
      }
      .unah-col-md-7{
                width: 58.33%;
      }
      .unah-col-md-8{
                width: 66.66%;
      }
      .unah-col-md-9{
                width: 75%;
      }
      .unah-col-md-10{
                width: 83.33%;
      }
      .unah-col-md-11{
                width: 91.66%;
      }
      .unah-col-md-12{
                width: 100%;
      }
}

/*Grande (lg):*/
@media screen and (max-width: 992px) and (min-width: 868px)
{
      .unah-col-lg-1{
              width: 8.33%;
      }
      .unah-col-lg-2{
              width: 16.66% ;
      }

      .unah-col-lg-3{
              width: 25%;
      }
      .unah-col-lg-4{
              width: 33.33% ;
      }
      .unah-col-lg-5{
        width: 41.66%;
      }  
      .unah-col-lg-6{
                width: 50%;
      }
      .unah-col-lg-7{
                width: 58.33%;
      }
      .unah-col-lg-8{
                width: 66.66%;
      }
      .unah-col-lg-9{
                width: 75%;
      }
      .unah-col-lg-10{
                width: 83.33%;
      }
      .unah-col-lg-11{
                width: 91.66%;
      }
      .unah-col-lg-12{
                width: 100%;
      }
}
/*Extra grande (xl):*/
@media screen and (max-width: 1200px) and (min-width: 992px)
{       
      .unah-col-xl-1{
              width: 8.33%;
      }
      .unah-col-xl-2{
              width: 16.66%;
      }

      .unah-col-xl-3{
              width: 25%;
      }
      .unah-col-xl-4{
              width: 33.33%;
      }
      .unah-col-xl-5{
                 width: 41.66%;
      }  
      .unah-col-xl-6{
                width: 50%;
      }
      .unah-col-xl-7{
                width: 58.33%;
      }
      .unah-col-xl-8{
                width: 66.66%;
      }
      .unah-col-xl-9{
                width: 75%;
      }
      .unah-col-xl-10{
                width: 83.33%;
      }
      .unah-col-xl-11{
                width: 91.66%;
      }
      .unah-col-xl-12{
                width: 100%;
      }

}

