/* Flex */
/* unah-d-f */
.unah-f-d-c{
     flex-direction: column;
}
.unah-jcc{
     justify-content: center;
}
.unah-jcsb{
     justify-content: space-between;
}
.unah-jcfe{
     justify-content: flex-end;
}
.unah-jcfs{
     justify-content: flex-start;
}
.unah-jcsa{
     justify-content: space-around;
}
.unah-jcse{
     justify-content: space-evenly;
}
.unah-aic{
     align-items: center;
}
.unah-aifs{
     align-items: flex-start;
}
.unah-aife{
     align-items: flex-end;
}
.unah-aib{
     align-items: baseline;
}
.unah-ais{
     align-items: stretch;
}
.unah-ai{
     align-items: inherit;
}
.unah-f-w{
     flex-wrap: wrap;
}
.unah-f-wn{
     flex-wrap: nowrap;
}
.unah-f-wr{
     flex-wrap: wrap-reverse;
}
.unah-f-wi{
     flex-wrap: inherit;
}

.unah-f-d-c{
     flex-direction: column;
}

.unah-f-grap{
     flex-wrap: wrap;
}

.unah-f-grap-r{
     flex-wrap: wrap-reverse;
}
.unah-f-grap-c{
     flex-wrap: column wrap;
}
.unah-f-grap-n{
     flex-wrap: nowrap;
}

.unah-f-grap-i{
     flex-wrap: inherit;
}


@media screen and (max-width: 868px) {
     .unah-f-d-c-m{
          flex-direction: column !important;
     }
     .unah-jcc-m{
          justify-content: center !important;
     }
     .unah-jcsb-m{
          justify-content: space-between !important;
     }

     .unah-jcfe-m{
          justify-content: flex-end !important;
     }

     .unah-jcfs-m{
          justify-content: flex-start !important;
     }

     .unah-jcsa-m{
          justify-content: space-around !important;
     }

     .unah-jcse-m{
          justify-content: space-evenly !important;
     }

     .unah-aic-m{
          align-items: center !important;
     }

     .unah-aifs-m{
          align-items: flex-start !important;
     }

     .unah-aife-m{
          align-items: flex-end !important;
     }

     .unah-aib-m{
          align-items: baseline !important;
     }

     .unah-ais-m{
          align-items: stretch !important;
     }

     .unah-ai-m{
          align-items: inherit !important;
     }

     .unah-f-w-m{
          flex-wrap: wrap !important;
     }

     .unah-f-wn-m{
          flex-wrap: nowrap !important;
     }

     .unah-f-wr-m{
          flex-wrap: wrap-reverse !important;
     }

     .unah-f-wi-m{
          flex-wrap: inherit !important;
     }

     .unah-f-grap-m{
          flex-wrap: wrap !important;
     }

     .unah-f-grap-r-m{
          flex-wrap: wrap-reverse !important;
     }


     .unah-f-grap-c-m{
          flex-wrap: column wrap !important;
     }

     .unah-f-grap-n-m{
          flex-wrap: nowrap !important;
     }

     .unah-f-grap-i-m{
          flex-wrap: inherit !important;
     }

}