.row{
     margin-right: 0px !important;
}
ul{
     list-style: none;
     margin: 0;
     padding: 0;
     margin-bottom: 0px !important;
     padding-left: 0px !important;
}

a{
     text-decoration: none !important;
     color: var(--color-black) !important;
     cursor: pointer;
     align-items: center;
}
