
/* class for the hovers */
/* unah-hover-color */
.unah-hover-blue:hover {
     background-color: var(--color-blue);
     color: var(--color-white);
}

.unah-hover-blue-1:hover {
     background-color: var(--color-blue-1);
     color: var(--color-white);
}

.unah-hover-blue-2:hover {
     background-color: var(--color-blue-2);
     color: var(--color-white);
}

.unah-hover-blue-3:hover {
     background-color: var(--color-blue-3);
     color: var(--color-white);
}

.unah-hover-blue-4:hover {
     background-color: var(--color-blue-4);
     color: var(--color-white);
}

.unah-hover-yellow:hover {
     background-color: var(--color-yellow);
     color: var(--color-white);
}

.unah-hover-black:hover {
     background-color: var(--color-black);
     color: var(--color-white);
}

.unah-hover-white:hover {
     background-color: var(--color-white);
     color: var(--color-black);
}
.unah-hover-gray:hover {
     background-color: var(--color-gray);
     color: var(--color-black);
}




/* class for the border */
/* unah-b-color */
.unah-b-blue {
     border: 1px solid var(--color-blue);
}

.unah-b-blue-1 {
     border: 1px solid var(--color-blue-1);
}

.unah-b-blue-2 {
     border: 1px solid var(--color-blue-2);
}

.unah-b-blue-3 {
     border: 1px solid var(--color-blue-3);
}

.unah-b-blue-4 {
     border: 1px solid var(--color-blue-4);
}

.unah-b-yellow {
     border: 1px solid var(--color-yellow);
}

.unah-b-black {
     border: 1px solid var(--color-black);
}

.unah-b-white {
     border: 1px solid var(--color-white);
}
.unah-b-gray {
     border: 1px solid var(--color-gray);
}

.unah-bc-blue {
     border-color: var(--color-blue) !important;
}

.unah-bc-blue-1 {
     border-color: var(--color-blue-1) !important;
}

.unah-bc-blue-2 {
     border-color: var(--color-blue-2) !important;
}

.unah-bc-blue-3 {
     border-color: var(--color-blue-3) !important;
}

.unah-bc-blue-4 {
     border-color: var(--color-blue-4) !important;
}

.unah-bc-yellow {
     border-color: var(--color-yellow) !important;
}

.unah-bc-black {
     border-color: var(--color-black) !important;
}

.unah-bc-white {
     border-color: var(--color-white) !important;
}

.unah-bc-gray {
     border-color: var(--color-gray) !important;
}

.unah-bb-2 {
     border-bottom: 1px solid ;
}

.unah-bb-4 {
     border-bottom: 4px solid ;
}   

.unah-bb-6 {
     border-bottom: 6px solid ;
}

.unah-bb-8 {
     border-bottom: 8px solid ;
}

.unah-bb-10 {
     border-bottom: 10px solid ;
}


.unah-bt{
     border-top: 2px solid ;
}

.unah-bl {
     border-left: 2px solid ;
}

.unah-br {
     border-right: 2px solid ;
}


.unah-br-2{
     border-radius: 10%;
}

.unah-br-4{
     border-radius: 20%;
}

.unah-br-6{
     border-radius: 30%;
}

.unah-br-8{
     border-radius: 40%;
}

.unah-br-10{
     border-radius: 50%;
}

.unah-br-12{
     border-radius: 60%;
}

.unah-br-14{
     border-radius: 70%;
}

.unah-br-16{
     border-radius: 80%;
}

.unah-br-18{
     border-radius: 90%;
}

.unah-br-20{
     border-radius: 100%;
}







/* class for the border-color hover*/
/* unah-b-hover-color */
.unah-b-hover-blue:hover {
     border: 1px solid var(--color-blue);
}

.unah-b-hover-blue-1:hover {
     border: 1px solid var(--color-blue-1);
}

.unah-b-hover-blue-2:hover {
     border: 1px solid var(--color-blue-2);
}

.unah-b-hover-blue-3:hover {
     border: 1px solid var(--color-blue-3);
}

.unah-b-hover-blue-4:hover {
     border: 1px solid var(--color-blue-4);
}

.unah-b-hover-yellow:hover {
     border: 1px solid var(--color-yellow);
}

.unah-b-hover-black:hover {
     border: 1px solid var(--color-black);
}

.unah-b-hover-white:hover {
     border: 1px solid var(--color-white);
}

.unah-b-hover-gray:hover {
     border: 1px solid var(--color-gray);
}

/* class for the background-color */


/* class for the border-radius */
/* unah-br-value */

.unah-br-2 {
     border-radius: 0.5rem;
}

.unah-br-4 {
     border-radius: 1rem;
}

.unah-br-6 {
     border-radius: 1.5rem;
}

.unah-br-8 {
     border-radius: 2rem;
}

.unah-br-10 {
     border-radius: 2.25rem;
}
