.unah-nav-link{
     text-decoration: none;
     font-size: 1.75rem;
     transition: all 0.3s ease-in-out;
     cursor: pointer;
}

.unah-nav-content{
     display: flex;
     flex-direction: column; 

}




   
   /* Cambiamos el pseudo-elemento cuando el mouse está encima del enlace */
   .unah-nav-border-link:hover{
          border-bottom: 3px solid;
   }

.unah-menu{
     cursor: pointer;
}

.unah-menu  li {
               
     position: relative;
     float: left;
     margin: 0;
     padding: 0;
}

.unah-menu ul {
     display: none;
     position: absolute;
     top: 100%;
     left: 0;
}


.unah-menu ul li {
     float: none;
}

.unah-menu li:hover>ul {
     display: block;
}

.nave-menu {
     display: flex;
     list-style: none;
}

@media (max-width: 868px) {
  .unah-nav-responsive{
      display: flex;
      position: fixed;

  }
     .nave-menu .row{

    
     flex-direction: column;
     }
  .unah-nave-menu {

     position: fixed !important;
     top: 7vh !important;
     left: 100%;
     overflow-y: auto;
     transition: left 0.3s;
     display: flex;
     position: relative;
   }

   .unah-nave-menu_visible{
      left: 0;


   }
 
   .nave-menu-item {
     line-height: 70px;
   }
   .nave-menu-link{
     color: #fff;
   }
 
   .nave-menu-link:hover,
   .nave-menu-link_active {
     background: none;
     color: darkcyan;
   }
 
   .nave-toggle {
     display: block;
   }
 
   .nave-menu_visible {
     left: 0;
     min-width: 40%;
   }
 
   .nave-toggle:focus:not(:focus-visible) {
     outline: none;
   }
 
}