.unah-nav-link{
     text-decoration: none;
     font-size: 1.75rem;
     transition: all 0.3s ease-in-out;
     cursor: pointer;
}

.unah-nav-content{
     display: flex;
     flex-direction: column; 
     min-width: 350px;
     max-width: 350px;
}




   
   /* Cambiamos el pseudo-elemento cuando el mouse está encima del enlace */
   .unah-nav-border-link:hover{
          border-bottom: 3px solid;
   }

.unah-menu{
     cursor: pointer;
}

.unah-menu  li {
               
     position: relative;
     float: left;
     margin: 0;
     padding: 0;
}

.unah-menu ul {
     display: none;
     position: absolute;
     top: 100%;
     left: 0;
}


.unah-menu ul li {
     float: none;
}

.unah-menu li:hover>ul {
     display: block;
}